<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <h2>IAMMATTHIAS - MatthiasBot</h2>
</body>
</html>
