<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
<style>
body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

#sk-container{
right: 0px;
}
</style>
</head>
<body>
    <h2>IAMMATTHIAS - MatthiasBot</h2>
</body>
</html>
