<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
<style>
body {
  margin: 40px auto;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px
}
</style>
</head>
<body>
    <h2>IAMMATTHIAS - MatthiasBot</h2>
</body>
</html>
